<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CoreDBConnection" connectionString="server=localhost;user=devuser;password=devpassword;database=heidi_core"/>
		<add name="CityDBZeroConnection" connectionString="server=localhost;user=devuser;password=devpassword;database=heidi_city_0"/>
	</connectionStrings>
</configuration>